apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "todo-app.fullname" . }}-config
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
data:
  BACKEND_SERVICE_URL: {{ .Values.config.backendServiceUrl | quote }}
  NEXT_PUBLIC_API_URL: {{ .Values.config.backendServiceUrl | quote }}