# Default values for todo-app
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

backend:
  image:
    repository: backend
    tag: v1
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8000
  replicaCount: 1
  resources:
    requests:
      memory: 128Mi
      cpu: 100m
    limits:
      memory: 256Mi
      cpu: 200m
  hpa:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    targetCPUUtilizationPercentage: 70

frontend:
  image:
    repository: frontend
    tag: v1
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 3000
  replicaCount: 2
  resources:
    requests:
      memory: 128Mi
      cpu: 100m
    limits:
      memory: 256Mi
      cpu: 200m
  hpa:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 70

secrets:
  databaseUrl: ""
  cohereApiKey: ""
  betterAuthSecret: ""

config:
  backendServiceUrl: "http://backend-service:8000"